.AnimacaoLogo {
  animation: fadeInLeft 3s;
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% !important;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }

  to {
    opacity: 1;
  }
}

.grid-main{
    background-color: #056444;
    overflow: hidden;
}
.imagem2 {
  background-image: url(https://i.imgur.com/d5bMdDJ.jpg);
  background-repeat: no-repeat;
  width: 100vh;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.textos2 {
  font-weight: bold !important;
}

.btnCancelar {
  margin-right: 5% !important;
  font-weight: bold !important;
  color: white !important;
  background-color: #056444 !important;
  border-radius: 20px !important;
}
.btnCadatre-se {
  font-weight: bold !important;
  color: white !important;
  background-color: #056444 !important;
  border-radius: 20px !important;
}

.animacao-logo-cadastro {
  border-radius: 50% !important;
  border: 1px solid #03422d ;
  animation: fadeInLeft 2s;
  margin-top:10%;
}
.posicao-logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.background-grid-left-cadastro {
  background-color: #056444;
  padding-top: 0% !important;
}

.background-grid-right {
  background-color: #151719 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.discoleta {
  color: #056444 !important;
}
.triangulo {
  position: absolute;
  border-style: solid;
  border-width:22em 0 0 42em;
  border-color: transparent transparent transparent #03422d;
  bottom: 0;
}

.label-senha{
  width: min-content;
}

@media only screen and (max-width: 1080px) {
  .background-grid-left-cadastro{
    display: none;
  }

  .grid-main, .background-grid-right {
    width: 100%;
    max-width: none !important;
    flex-basis: auto !important;
  }
  .label-senha{
    text-wrap: nowrap;
  }
  .caixa-label{
    flex-direction: column;
  }

  .caixa-label label{
    margin: 15px 0 0 0 !important;
  }
}