.link{
<<<<<<< HEAD
    text-decoration: none;
}
.nav{
    color: white !important;
=======
    text-decoration: none !important;
    color: #000000 !important;
    font-weight: bold !important;
}
.nav{
    color: white !important;
}

.meudeus{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.logout{
    color: red !important;
<<<<<<< HEAD
>>>>>>> b0b6e2eb1ff17c45a8b9a97a0832f1793963fb30
=======
}

.nome{
    font-weight: bold;
    text-align: center;
>>>>>>> 2b71c09f5029d802414004d40c1da6b38f3f8497
}