.topo{
    margin-top: 20px;
}   

.cor{
    background-color: #398c60 !important;
    
}

.TextField{
    background-color: #03422d !important;
    border-radius: 20px;

}

.fundoCP{
    background-color: #056444;
}




