.caixa{
    background-color: #21A887
    ;
}

.titulo{
    color: black ;
    font-weight: bold !important;
}

.botao{
    border-color: green !important ;
    background-color: #21A887 ;
    color: rgb(157, 233, 157) !important;
    font-weight: bold !important;
}



