@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

.head-home{
  border-bottom: 1px solid #9CA9B3;  
}
.fonte-home{
    font-family: 'Anton', serif !important;
    color: azure !important;
}
.caixa-discoleta-head{
    align-self: center;
    width: 300px;
}
.caixa{
    background-color: #21A887 !important
    ;
}

.titulo{
    color: black ;
    font-weight: bold !important;
}
.caixa-ver-postagens{
    padding-bottom: 5% !important;
}
.botao-ver-postagens{
    border-radius: 20px !important;
    border-color: white !important ;
    background-color: #03422d !important;
    color: white !important;
    font-weight: bold !important;
}
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .col {
    align-self: center;
    background-color: #398c60;
    display: flex;
    justify-content: center;
    height: 200px;
    margin: 10px;
    width: 550px;
    border-radius: 20px;
    
  }


