@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");

.head-home {
  border-bottom: 1px solid #9ca9b3;
}
.grid-master-home{
    background-color:#056444 !important;
    border-radius: 20px !important;
}
.fonte-home {
  font-family: "Anton", serif !important;
  color: azure !important;
}
.caixa-discoleta-head {
  align-self: center;
  width: 300px;
}
.caixa {
  background-color: #398c60 !important;
  border-radius: 20px;

.botao{
    border-color: green !important ;
    background-color: #21A887 ;
    color: rgb(157, 233, 157) !important;
    font-weight: bold !important;
}
}

.titulo {
  color: black;
  font-weight: bold !important;
}
.caixa-ver-postagens {
  padding-bottom: 5% !important;
}
.botao-ver-postagens {
  border-radius: 20px !important;
  border-color: white !important ;
  background-color: #03422d !important;
  color: white !important;
  font-weight: bold !important;
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.col {
  align-self: center;
  background-color: #056444;
  display: flex;
  justify-content: center;
  height: 200px;
  margin: 10px;
  width: 400px;
  border-radius: 20px;
}

.img-home {
  height: 300px;
  width: 300px;
  margin-top: 5px;
}
