.text-decorator-none{
    text-decoration: none;
}
.tio{
    max-width: 500px ;
    width: 90vw;
    border-radius: 10px !important;
}
.button-deletar{
    background-color: red!important;
    text-decoration: none;
    border-radius: 20px !important; 
    color: white !important;
    font-weight: bold !important;
}

@media only screen and (min-width: 600px) {
    .tio{
        width: 70vw;
  }
}